extends layout

block content
  h1= title
  - let badminton=[{Player_Name:"Nandu Natekar",Player_Age :88,No_Of_Matches_Played:32},{Player_Name:"Pullela Gopichand",Player_Age :49,No_Of_Matches_Played:8},{Player_Name:"Prakash Padukone",Player_Age :68,No_Of_Matches_Played:25}]
    
    div(class="container-fluid mt-3")
    div(class="row")
        each Badminton,index in badminton
            div(class="col-sm-2 bg-primary m-1 p-3" onclick=`buy(${index})`) #{Badminton.Player_Name} - #{Badminton.Player_Age} - #{Badminton.No_Of_Matches_Played}
            
    script.

     function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }


