extends layout

block content
  h1= title
  //- p = results
  - let items = results;
  console.log(items)
  div.container-fluid
    div.row.m-1
      each item in items
        - let destination = `/Badminton/update?id=${item._id}`
        div.row-sm-2.m-1
          | Badminton: #{item.Player_Name} (#{item.Player_Age}) #{item.No_Of_Matches_Played}
          <br>
          button.btn.btn-primary.ml-1(onclick=`dispatch('${destination}')`) Update
          

  //- script.
  //-   function dispatch(path) {
  //-     window.location.href = path;
  //-   }

    